@model IList<PikaShop.Shared.RatingVm>

<style>
    .avatar {
        vertical-align: middle;
        border-radius: 50%;
        display: block;
        margin: auto;
        width: 40%;
    }

    .col > img {
        vertical-align: middle;
        border-radius: 10px;
        width: 220px;
    }

    .card{
        width: 12rem;
    }
</style>
@if (Model.Count == 0)
{
    <div class="section_title text-center">
        <h4>No Comments</h4>
    </div>
}
else { 
    <div class="section_title text-center">
        <h4>Comments</h4>
    </div>
}
<div class="row">
    @foreach (var rating in Model)
    {
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <img src="~/image/avatar-cirle.png" alt="Avatar" class="avatar">
                    <p class="card-date">@rating.date</p>
                    <p class="card-comment">@rating.comment</p>
                    <span>
                        @{ for (int i = 1; i <= rating.totalStar; i++)
                            {
                                <i class="fa fa-star" style="color:yellow"></i>
                            }
                            for (int i = 1; i <= 5 - rating.totalStar; i++)
                            {
                                <i class="fa fa-star"></i> 
                            } }
                    </span>
                </div>
            </div>
        </div>
    }
</div>
