@model IList<PikaShop.Shared.BrandVm>

<ul class="submenu">
    @foreach (var brand in Model)
    {
        <li>
            <a asp-action="ShowByBrand" asp-controller="Product" asp-route-id="@brand.Id">@brand.Name</a>
        </li>
     }
</ul>