<style>
    #first-row
    {
        margin-top: 100px;
        margin-bottom: 50px;
    }

    #second-row {
        margin-bottom: 50px;
    }

    #third-row {
        margin-bottom: 100px;
    }

    img
    {
        width: 18rem;
    }
</style>
<div class="row" id="first-row">
    <div class="col-8">
        <h3>What is PokemonCenter.com?</h3>
        <p>
            PokemonCenter.com is our official online store for Pokémon Center merchandise, 
            focusing on unique designs and high quality products for all ages. Pokémon launched in Japan in 1996 
            and today is one of the most popular children’s entertainment properties in the world.
        </p>
    </div>
    <div class="col-4">
        <img src="~/img/about/center-01.jpg" />
    </div>
</div>
<div class="row" id="second-row">
    <div class="col-4">
        <img src="~/img/about/center-02.jpg" />
    </div>
    <div class="col-8">
        <p>
            The Pokémon Company International, a subsidiary of The Pokémon Company in Japan, 
            manages the property outside of Asia and is responsible for brand management, licensing, marketing, 
            the Pokémon Trading Card Game, the animated TV series, home entertainment, and the official Pokémon website.
        </p>
    </div>
</div>
<div class="row" id="third-row">
    <div class="col">
        Pokémon Center is inspired by the Pokémon video game, where Pokémon Centers are important destinations that help 
        Trainers on their journey. In that tradition, physical Pokémon Centers were first introduced in Japan by 
        The Pokémon Company and continues to thrive in a new online form at PokemonCenter.com.
    </div>
</div>