@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<style>
    .avatar {
        vertical-align: middle;
        border-radius: 50%;
        display: block;
        margin: auto;
        width: 40%;
    }
    .col > img {
        vertical-align: middle;
        border-radius: 10px;
        width: 220px;
    }
</style>
<h1><i class="fa fa-sign-in" aria-hidden="true"></i> @ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <img src="~/image/avatar-cirle.png" alt="Avatar" class="avatar">
                <div class="form-group">
                    <i class="fa fa-envelope" aria-hidden="true"></i>  <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <i class="fa fa-key" aria-hidden="true"></i>  <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Log in</button>
                </div>
                <div class="form-group">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                    @*<p>
                <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
            </p>*@
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <div class="container">
            <div class="row">
                <div class="col">
                    <img src="~/image/login.jpg" />
                </div>

                <div class="col"></div>

                <div class="col">
                    <img src="~/image/login-2.jpg" />
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col"></div>
                <div class="col">
                    <img src="~/image/login-4.jpg" />
                </div>
                <div class="col"></div>
            </div>
            <hr />
            <div class="row">
                <div class="col">
                    <img style="height: 137px" src="~/image/login-3.jpg" />
                </div>
                <div class="col"></div>
                <div class="col">
                    <img src="~/image/login-5.jpg" />
                </div>
            </div>
        </div>
    </div>
    </div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
