@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
<style>
    img {
        width: 90%;
        padding: 10px;
        border-radius: 20px;
        transition: transform .2s; 
    }
    /*.zoom {
        padding: 50px;
        background-color: green;
        transition: transform .2s;*/ /* Animation */
        /*width: 200px;
        height: 200px;
        margin: 0 auto;
    }*/

    img:hover {
        transform: scale(1.5); 
    }
</style>
<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <img src="~/image/register.jpg" alt="A Toyota Previa covered in graffiti" loading="lazy">
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
