@{
    ViewData["Title"] = "Home Page";
}

<style>
    .backend-image {
        margin-top: 20px;
        border-radius: 50px;
        margin-bottom: 50px;
    }
</style>
    <div class="text-center">
        <h1 class="display-4">Welcome to PikaShop!</h1>
    </div>

    <img class="backend-image" src="~/image/marchingPikachu-1.jpg" />
